/* navbar */

.border-bottom {
    border-bottom: 1px solid rgb(214, 211, 211) !important;
    background-color: white !important;
}
.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navbar {
    padding: 0 !important;
    margin-top: 5px;
}


.linkedin-logo {  
    color: #0a66c2;
}


/* Search */ 

.search {
    display: inline;
    background-color: rgb(238, 243, 248) !important;
    height: 35px;
    width: 280px;
}

.fa-search {
    color:  gray;
}

.search > input {
    border: 0;
    background-color: transparent;
    font-size: 14px;
}

.search > input:focus {
    outline: 0;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}


/* navbar nav */

.navbar-content {
    display: flex;
    margin-bottom: 0;
    padding-right: 2px;
}

.navbar-content > li {
    display: inline-block;
}

.nav-item {
    text-align: center;
}

.nav-item-size {
    width: 80px;
}

.navbar-content > li >a {
    padding: 0;
    font-size: 13px;
    color: rgb(102, 101, 101);
}

.nav-item > a:hover {
    color: black !important;
    cursor: pointer;
}


/* Dropdown-Menu-1 */

.dropdown-menu-1 {
    width: 270px; 
    font-size: 14px;
}
.dropdown-profil {
    width: 50px; 
    height: 50px; 
    display: inline;
}

.dropdown-button {
    width: 100%; 
    font-size: 14px; 
    border-radius: 30px;
    background-color: white;
    border-color: #0a66c2;
    color: #0a66c2;
}

.dropdown-button:hover {
    background-color: #a6ccf3;
}

.dropdown-color {
    color: gray;
}

.line {
    height: 48px; 
    background-color: rgb(214, 211, 211); 
    width: 1px;
}


/* Dropdown-Menu-2 */

.dropdown-menu-2 {
    width: 390px;
}

.dropdown-menu-2 > .row {
    width: 330px;
    border: 1px solid rgb(214, 211, 211);
    border-radius: 8px;
}

.title-border {
    border-bottom: 1px solid rgb(214,211,211);
}

.tite-font {
    font-size: 18px;
}

.inclusive {
    padding-left: 5px;
    padding-right: 5px;
}

.department {
    font-size: 13px; 
    text-align: center; 
    width: 60px !important;
}

.department > p {
    color: rgb(160, 158, 158);
}

.outer-box {
    border: 1px solid rgb(214, 211, 211); 
    text-align: center; 
    border-radius: 5px;
}

.dropdown-footer-title {
    margin-bottom: 0 !important; 
    color: black; 
    font-size: 13px;
}

.dropdown-footer-text {
    margin-bottom: 0; color: gray; 
    font-size: 12px;
}

.navbar-end:hover {
    text-decoration: underline;
}


/* body-content */

.body-content {
    background-color: rgba(243, 242, 239);
    
}


/* container-body */

.container-body {
    margin-top: 7px !important;
}


/* first colon */


.first-colon-head {
    background-color: rgba(160, 180, 183);
    height: 53px; 
}

.color-1{
    background-color: rgb(219, 231, 233);
    height: 53px;
    width: 30px;
}

.color-2 {
    background-color: rgb(191, 211, 214);
    height: 53px;
    width: 30px;
    margin-left: 0px !important;
}

.first-colon-image {
    background-color: white;
    padding: 2px;
    width: 70px;
    padding-right: 3px !important;

}

.first-colon-image:hover {
    cursor: pointer;
}

.first-colon-img {
    width: 66px;
    height: 66px;
    text-align: center;
}

.card-img-top {
    margin-top: -35px !important;
}

.card-body {
    padding: 10px 0px 0px 0px !important;
    
}

.first-colon-body {
    text-align: center;
    border-bottom: 1px solid rgb(191, 211, 214);
}

.job-text {
    font-size: 13px; 
    color: gray; 
    line-height: 16px;
    margin-left: 25px;
    margin-right: 25px;
}

.second-colon-body {
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(191, 211, 214);
}

.viewing {
    font-size: 13px;
    padding-bottom: 5px;
}

.viewing:hover {
    background-color: rgb(238, 243, 248);
    cursor: pointer;
}

.viewing-text {
    display: inline-block;
    color: rgb(102, 101, 101);
    margin-bottom: 0px;
    margin-left: 15px;
    
}

.viewing-link {
    margin-right: 10px;
    color: #0a66c2;
}

.viewing-link:hover {
    text-decoration: none;
}

.card-footer {
    padding-left: 15px;
}

.third-colon-body {
    padding: 10px 5px 10px 15px;
    font-size: 13px;
    border-bottom: 1px solid rgb(191, 211, 214);
}

.third-colon-body:hover {
    background-color: rgb(238, 243, 248);
    cursor: pointer;
}

.third-colon-body > p {
    margin-bottom: 0px;
}

.third-colon-body > p > i {
    color: rgb(247, 180, 57);
}

.third-colon-body > p > b:hover {
    color: #0a66c2;
}

.card-footer {
    background-color: white;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.753);
}

.card-footer > i {
    color: rgb(114, 112, 112) !important;
}

.card-footer:hover {
    background-color: rgb(238, 243, 248);
    cursor: pointer;
}

.first-colon-bottom {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    font-size: 13px;
    color: rgb(102, 101, 101);
}

.bottom-body {
    padding: 13px 0px;
}

.latest {
    margin-bottom: 5px;
}

.latest > p {
    margin-bottom: 0;
    padding-left: 15px;
}

.activity {
    padding-left: 15px;
}

.activity:hover {
    background-color: rgb(238, 243, 248);
    cursor: pointer;
}

.bottom-link {
    padding-left: 15px;
}

.see-all {
    padding-left: 40px;
}

.see-all:hover {
    background-color: rgb(238, 243, 248);
    cursor: pointer;
}

.very {
    border-top: 1px solid rgb(191, 211, 214);
}

.very:hover {
    background-color: rgb(238, 243, 248);
    cursor: pointer; 
}


/* acordion */

.acordion-button:hover {
    background-color: rgb(202, 202, 202);
    cursor: pointer;
    text-decoration: none; 
    border-radius: 5px;
}


/* second-colon */

.second-bar-top-img {
    height: 45px; 
    width: 45px;
}

.second-bar-top-img:hover {
    cursor: pointer;
}

.second-bar-top-button {
    width: 100%; 
    height: 45px; 
    border-radius: 30px;
    color: rgb(122, 122, 122); 
    border: 1px solid rgb(153, 152, 152);
    text-align: left; 
    padding-left: 20px; 
    background-color: white;
    font-size: 15px;
}

.second-bar-top-button:focus {
    outline: 0px;
}

.second-bar-top-button:hover {
    background-color: rgb(238, 243, 248);
    cursor: pointer;
}

.second-bar-top-foot {
    align-items: center;
    padding: 13px 5px;
}

.second-bar-top-foot > b {
    font-size: 13px; 
    color: rgb(146, 143, 143);
    font-weight: 50px;
}

.second-bar-top-foot:hover {
    background-color: rgb(238, 243, 248);
    cursor: pointer;
    border-radius: 10px;
}

.sorting-line {
    height: 0.1px;
    background-color: rgb(163, 163, 163);
    width: 62%;
    margin-top: 10px;
}

.second-bar-sorting {
    border: 0; 
    color: rgb(116, 116, 116); 
    background-color: rgba(243, 242, 239);
}

.second-bar-sorting:focus {
    outline: 0px;
}

.second-bar-sorting:hover {
    cursor: pointer;
}


/* Second-Bar-Post */

.second-bar-posttop {
    font-size: 14px;
}

.card-top:hover {
    cursor: pointer;
}

.second-bar-posttop > a > b:hover {
    color: #0a66c2;
}

.fa-ellipsis-h:hover {
    background-color: rgb(238, 243, 248);
    border-radius: 50px;
}

.card-body-img {
    width: 100%;
}

.card-body-text {
    font-size: 14px; 
    margin: 4px 25px 15px 25px;
}

.card-body-img:hover {
    cursor: pointer;
}

.card-footer-second {
    border-top: 1px solid rgb(196, 196, 196);
    color: rgb(116, 116, 116); 
    font-size: 16px;
}

.second-bar-button:hover {
    background-color: rgb(238, 243, 248);
    cursor: pointer;
    border-radius: 10px;
}



/* third-colon */

.left-bar-top {
    background-color: white;
    color: rgb(102, 101, 101);
}

.fa-info-circle {
    border-radius: 50%;
    padding: 5px;
    width: 25px;
}

.fa-info-circle:hover {
    background-color: rgb(238, 243, 248);
    cursor: pointer; 
}

.heading-left:hover {
    background-color: rgb(238, 243, 248);
    cursor: pointer; 
}

.heading-left:hover i {
    display: block !important;
    margin-top: -10px;
}

.left-bar-bottom:hover {
    background-color: rgb(238, 243, 248);
    cursor: pointer; 
    border-radius: 7px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}

.left-bar-body {
    height: 2.5px;
    background-color: white;
    border: 0.1px solid rgb(204, 200, 200);
}

.left-bar-footer {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
   
}

.left-foot{
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 1px;
}

.left-foot > a {
    color: rgb(155, 152, 152) !important;
    font-size: 12px;
}

.left-foot > a:hover {
    color: #0a66c2 !important;
}

.dropup-button {
    color: rgb(155, 152, 152) !important;
    font-size: 12px;
    background-color: rgba(243, 242, 239);
}

.dropup-button:hover {
    cursor: pointer; 
    color: #0a66c2 !important;
}

.dropup-button:focus {
    outline: none;
}

.like-person {
    font-size: 12px;
}

.like-person:hover {
    color: #0a66c2;
    cursor: pointer;
    text-decoration: underline;
}